<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />
<title>textrans</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon" />
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/flat-ui.min.css" rel="stylesheet">
<link href="/stylesheets/flat-ui.override.css" rel="stylesheet">
<style type="text/css">
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
