.large {
  font-size: 150%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.well_white {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 10px;
}